In [46]:
import numpy as np
import pandas as pd

In [47]:
df = pd.read_csv("/content/weather.csv")
df.shape

(15, 3)

In [48]:
df.head()

     Date Temperature Humidity
0  Fri 06         34°      22%
1  Sat 07         37°      21%
2  Sun 08         36°      18%
3  Mon 09         37°      16%
4  Tue 10         36°      17%

In [49]:
#check missing values
df.isna().sum().sum()

0

In [50]:
df.dtypes

Date           object
Temperature    object
Humidity       object
dtype: object

In [ ]:
df.info()

In [ ]:
import tensorflow as tf
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(128,input_shape=(2,),activation='relu'),
    tf.keras.layers.Dense(1)
])

In [ ]:
#split to training and testing
p=df.drop("Temperature", axis="columns")
q=df["Temperature"]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
ptrain,ptest,qtrain,qtest=train_test_split(p,q,train_size=0.85, random_state=2)

In [ ]:
#compile and fit
opt = tf.keras.optimizers.Adam(0.01)
model.compile(optimizer=opt,loss='mse')
r = model.fit(p,q,epochs=10)